html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #e8348b, #330f43);
  }

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: arial;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.principal {
    color: rgb(255, 255, 255);
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin-right: 40%;
}

li{
    color: rgb(255, 255, 255);
}